  body {
    background-color: #aaaabb;
    text-align: center;
  }
 #div{
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 font-size: 50px;
 background-color: #58e026;
 margin-up: 10px;
 margin-down: 15px;
}
.kot{
width: 1em
}
  img{margin:10px}
  .rec{
    background-color: #bbbbcc;
    position: relative; 
    display: inline-block; 
    width: 33%; 
    
  }
  .recbox{
     margin-left: auto;
 margin-right: auto;
 text-align: center;
  }
  
  .h20{height:20px}